@import url('https://fonts.googleapis.com/css?family=Orbitron:700,900|Roboto:900i&display=swap');

.clear-btn {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    color: white;
    font-size: 1.4rem;
    outline: 1px solid #888;
    height: 3em;
    outline: 1px solid #2c3830;
    background-color: #adb8b0;
    box-shadow: 0 0 0px 0 #36423a, 0 -0.25rem 1.5rem #39463f inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #adb8b0 inset;
    z-index: 10;

}