
@import url('https://fonts.googleapis.com/css?family=Orbitron:700,900|Roboto:900i&display=swap');



.input {
    display: flex;
    height: 2em;
    flex: 1;
    background-color: #000;
    outline: 1px solid black;
    color: #fff;
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.7em;
    align-items: center;
    font-family: Orbitron;
    color: red;
}